:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: 'Space Mono', Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-zinc-900);
  background-color: #02060f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  text-align: center;
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 1rem;
}