@import "tailwindcss";

body {
    position: relative;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

a {
    font-weight: 500;
    text-decoration: inherit; 
}

.glass {
    background-color: rgba(4, 11, 26, .85);
    border: 1px solid rgba(59, 130, 246, .15);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
}